<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Vibefy - <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/siteStyle.css">
</head>
<body>


<h3>
    Vibefy
    <img src="/img/logo.png" width="55" alt="">
</h3>
<nav>    
    <div><a href="/products">Product CRUD main page</a></div>
    <div><a href="/customers">Customer CRUD main page</a></div>
</nav>
<hr>
